<?xml version="1.0"?>
<launch>
	<!-- static transform -->
	<include file="$(find pcv_base)/launch/includes/static_tf.launch" />

	<!-- Laser scanner -->
	<include file="$(find pcv_base)/launch/includes/laser.launch" />

    <!-- Odometry (IMU, odom, ekf) -->
	<!--include file="$(find pcv_base)/launch/includes/odom.launch" /-->

    <!-- SLAM -->
    <include file="$(find pcv_base)/launch/includes/slam.launch" />

	<!-- Visualization -->
    <!-- node pkg="rviz" type="rviz" name="rviz"/-->

	<!-- control scripts below -->

</launch>
