<?xml version="1.0"?>
<launch>
	<!-- static transform -->
	<include file="$(find pcv_base)/launch/includes/static_tf.launch" />

	<!-- Laser scanner -->
	<include file="$(find pcv_base)/launch/includes/laser.launch" />

    <!-- Odometry (IMU, odom, ekf) -->
	<include file="$(find pcv_base)/launch/includes/odom.launch" />

    <!-- SLAM -->
    <include file="$(find pcv_base)/launch/includes/slam.launch" />
	
    <!-- Visualization -->
    <node pkg="rviz" type="rviz" name="rviz"/>
    
	<!-- control scripts below -->
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen"/>
    <node pkg="pcv_base" type="pcv_base_node" name="pcv_base_node" launch-prefix="sudo -E" output="screen"/>
</launch>
