<?xml version="1.0"?>
<launch>
	<!-- static transform -->
	<include file="$(find map_follower)/launch/includes/static_tf.launch" />

	<!-- map server -->
	<include file="$(find map_follower)/launch/includes/map_server.launch" />
	
	<!-- Laser scanner -->
	<include file="$(find map_follower)/launch/includes/laser.launch" />

	<!-- Odometry (IMU, odom, ekf) -->
	<include file="$(find map_follower)/launch/includes/odom.launch" />

	<!-- Robot localization (amcl) -->
	<include file="$(find map_follower)/launch/includes/localization.launch" />
	
	<!-- navigation (move_base) -->
	<include file="$(find map_follower)/launch/includes/navigation.launch" />

	<!-- Visualization -->
    <!-- node pkg="rviz" type="rviz" name="rviz"/-->
    
	<!-- Other control scripts -->
    
</launch>
